@tailwind components;
@tailwind base;
@tailwind utilities;
@tailwind variants;

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: 'Cabin', sans-serif;
  background: black;
  overflow: hidden;

  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2318191c' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 8rem;
  
  animation: background-loop 30s ease-in-out 0s infinite alternate;
} 


@keyframes background-loop {
  from { background-position: 0rem 0rem; }
  to { background-position: 50rem 50rem; }
}


@layer components {
  .nav-icon {
    @apply relative flex items-center justify-center
           h-12 w-12
           text-3xl text-text-unfocus
           transition-all duration-200
           hover:text-4xl;
  }

  .button {
  @apply font-black grid grid-cols-2 gap-5
        place-items-center border rounded-md
        hover:border-slate-300 focus:border-slate-600
        active:bg-slate-700 min-w-[60px] shrink
        pl-4 pr-4 pt-2 pb-2
        md:gap-2
  }

  .chatbox::-webkit-scrollbar {
    @apply bg-primary;
  }


  .chatbox::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  .chatbox::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }

  
}